*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-poppins);
}

body {
    background: var(--body-background);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input,
textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--selection-background);
    color: var(--body-background);
}

:focus {
    outline-color: var(--focus-outline);
}

/* Headings utility classes */
.h2,
.h3,
.h4,
.h5 {
    color: var(--main-text-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs1);
}

.h3 {
    font-size: var(--fs2);
}

.h4 {
    font-size: var(--fs4);
}

.h5 {
    font-size: var(--fs7);
    font-weight: var(--fw500);
}

h1,
h2,
h3,
h4,
h5 {
    transition: var(--transition2);
}

a,
p,
body,
figure,
button,
li,
address,
time {
    transition: var(--transition2);
}

/* ion-icon {
    transition: var(--transition2);
} */

div {
    transition: var(--transition2);
}

ul {
    transition: var(--transition2);
}

nav {
    transition: var(--transition2);
}

header {
    transition: var(--transition2);
}

article {
    transition: var(--transition2);
}

section {
    transition: var(--transition2);
}

ol {
    transition: var(--transition2);
}

span {
    transition: var(--transition2);
}

/* Simple animation used by article switching */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}