.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--icon-box);
    box-shadow: var(--shadow1);
    z-index: 1;
    object-fit: cover;
    transition: color 0.3s ease, transform 0.2s ease;
}

.icon-box::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--icon-box-background);
    border-radius: inherit;
    z-index: -1;
    transition: background 0.3s ease;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}

.icon-box a {
    color: inherit;
    text-decoration: none;
}

.icon-box a:visited {
    color: inherit;
}

.icon-box[data-is-link="true"]:hover {
    color: var(--icon-box-hover);
}

.icon-box[data-is-link="true"]:hover::before {
    background: var(--icon-box-background-hover);
}