.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, .75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow2);
    z-index: 5;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.nav-button {
    color: var(--light-gray);
    font-size: var(--fs8);
    padding: 20px 7px;
    transition: color var(--transition1);
}

.nav-button:hover,
.nav-button:focus {
    color: var(--light-gray70);
}

.nav-button.active {
    color: var(--focus-outline);
}

@media (min-width: 580px) {
    .navbar {
        border-radius: 20px 20px 0 0;
    }

    .nav-list {
        gap: 20px;
    }

    .nav-button {
        --fs8: 14px;
    }
}

@media (min-width: 768px) {
    .nav-button {
        --fs8: 15px;
    }
}

@media (min-width: 1024px) {
    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
    }

    .nav-list {
        gap: 30px;
        padding: 0 20px;
    }

    .nav-button {
        font-weight: var(--fw500);
    }
}