@import url("main.css");

.download-resume {
    display: flex;
    justify-content: center;
    /* Centers the button horizontally */
    margin: 20px 0;
    /* Adds some spacing above and below */
}

.download-resume-button {
    background-color: hsl(210, 100%, 56%);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.download-resume-button:hover {
    background-color: hsl(211, 100%, 35%);
}